@font-face {
	font-family: San Francisco;
	src: url(/resources/SF-Pro.ttf);
}

@font-face {
	font-family: New York;
	src: url(/resources/NewYork.ttf);
}

*{
	font-family: San Francisco;
	transition: all 0.2s ease-in-out;
	flex-wrap: wrap;
	outline: none;
	color: black;
	/*border: 1px solid red; /*border for flexbox testing*/
}

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	word-break: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
	scroll-behavior: smooth;
}

a{
	border-radius: 0.1em;
	padding-right: 0.1em;
	padding-left: 0.1em;
}

button{
	border: none;
	text-decoration: underline;
	font-size: initial;
	border-radius: 0.1em;
	padding-right: -0.1em;
	padding-left: -0.1em;
}

button:hover{
	background-color: #cecece;
	color: black;
	cursor: pointer;
}

.main{
	display: flex;
	flex-flow: column;
	height: 100%;
}

a:hover:not(.activetab){
	background-color: #cecece;
	color: Black;
}

a span:hover:not(.activetab){
	background-color: #cecece;
	color: Black;
}

.activetab{
	background-color: #c6c6c6;
	color: black;
}

.activetab:hover{
	background-color: initial;
	color: black;
}

.header{
	flex: 0 1 auto;
	display: flex;
	align-items: center;
	background-color: #f0f0f0;
	border-bottom: 0.1em solid #c0c0c0;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

.header a{
	text-decoration-line: none;
}

.logo h1{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.nav{
	flex: 1 1 auto;
	display: flex;
	justify-content: space-around;
}

.content{
	flex: 1 1 auto;
	display: flex;
	padding: 0.75em;
}

.footer{
	flex: 0 1 auto;
	display: table;
	table-layout: fixed;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #f0f0f0;
	border-top: 0.1em solid #c0c0c0;
}

.handles{
	display: table-cell;
	padding-left: 0.75em;
	vertical-align: middle;
}

.copyright{
	text-align: center;
	display: table-cell;
	vertical-align: bottom;
}

.legal{
	text-align: end;
	display: table-cell;
	padding-right: 0.75em;
	vertical-align: middle;
}

@media screen and (max-width: 475px){
.footer{
	flex: 0 1 auto;
	display: flex;
	table-layout: none;
	width: initial;
	justify-content: initial;
	align-items: initial;
	background-color: #f0f0f0;
	border-top: 0.1em solid #c0c0c0;
	flex-flow: column;
	padding: 0;
}

.handles, .copyright, .legal{
	text-align: center;
	display: initial;
	padding: initial;
	vertical-align: initial;
	border-top: 0.1em solid #c0c0c0;
}
}
