@font-face {
	font-family: "Roboto Flex", sans-serif;
	src: url(/resources/RobotoFlex.ttf);
}

*{
	font-family: "Roboto Flex", sans-serif;
	transition: all 0.2s ease-in-out;
	flex-wrap: wrap;
	outline: none;
	/*border: 1px solid red; /*border for flexbox testing*/
}

html, body{
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	word-break: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
	scroll-behavior: smooth;
	background-color: Black;
	display: flex;
	justify-content: center;
	align-items: center;
}

a{
	border-radius: 0.1em;
	padding-right: 0.1em;
	padding-left: 0.1em;
	text-decoration: none;
	color: inherit;
}

a:hover:not(.activetab){
	background-color: White;
	color: Black;
}

a span:hover:not(.activetab){
	background-color: White;
	color: Black;
}

.activetab{
	background-color: White;
	color: Black;
}

.activetab:hover{
	background-color: Black;
	color: White;
}

button{
	border: none;
	text-decoration: underline;
	font-size: inherit;
	background-color: Black;
	color: White;
	border-radius: 0.1em;
	padding-right: -0.1em;
	padding-left: -0.1em;
}

button:hover{
	background-color: White;
	color: black;
	cursor: pointer;
}

main{
	display: flex;
	flex-flow: column;
	width: 1000px;
	color: White;
}

header{
	flex: 0 1 auto;
	display: flex;
	flex-flow: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 3.3em;
	font-weight: 800;
	margin-top: 15px;
	margin-bottom: 20px;
}

content{
	flex: 0 1 auto;
	padding: 0.75em;
}

footer{
	flex: 0 1 auto;
	display: flex;
	flex-flow: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.1em;
	font-weight: 400;
	margin-bottom: 10px;
}

.social{
	width: 50%;
	margin-left: 1em;
}

.legal{
	width: 50%;
	margin-right: 1em;
}

@media screen and (max-width: 450px){
	footer{
		flex-flow: column;
	}
	.social{
		width: 100%;
		margin: 0.5em 0;
	}
	.legal{
		width:100%;
		margin: 0.5em 0;
	}
}

::selection{
	color: Black;
	background-color: White;
}

::-webkit-scrollbar {
	width: auto;
}

::-webkit-scrollbar-track {
	background: #333;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background: #eee;
}
